<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Editing Model</h1>
      </header>
      <%= form_for(@model) do |f| %>
      <%= f.error_messages %>

      <div class="row">
        <div class="six columns alpha">
          <%= f.label :model_name %>
          <%= f.text_field :model_name %>
        </div>
        <div class="four columns">
          <%= f.label :model_type %><br />
          <%= f.select :model_type, options_for_select([
                ["BIOCRO", "BIOCRO"], 
                ["ED2", "ED2"],
                ["GHGVC", "GHGVC"],
                ["ISIS", "ISIS"],
                ["SIPNET", "SIPNET"],
              ]) 
          %>
        </div>
        <div class="six columns omega">
          <%= f.label :model_path %>
          <%= f.text_field :model_path %>
        </div>
      </div>
      <div class="row">
        <div class="six columns alpha">
          <%= f.label :revision %>
          <%= f.text_field :revision %>
        </div>
        <div class="ten columns omega">
          <%= f.label :parent %>
          <%= f.select :parent_id, Model.all.collect {|p| [ p.select_default, p.id] },{:include_blank => true} %>
        </div>
      </div>

      <div class="form-actions">
        <div class="button-group">
          <%= link_to( @model ) do %>
            <button class="button">Show</button>
          <% end%>
          <%= link_to( models_path ) do %>
            <button class="button">Back</button>
          <% end%>
        </div>
        <div class="button-group pull-right">
          <%= f.submit 'Update', :class => "button button-primary" %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>