<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Viewing Models</h1>
      </header>

      <dl class="dl-horizontal">

        <dt>Model name:</dt>
        <dd><%= @model.model_name %></dd>

        <dt>Model path:</dt>
        <dd><%= @model.model_type %></dd>

        <dt>Model path:</dt>
        <dd><%= @model.model_path %></dd>

        <dt>Revision:</dt>
        <dd><%= @model.revision %></dd>

        <dt>Parent:</dt>
        <dd><%= link_to_if @model.parent, @model.parent, @model.parent %></dd>

      </dl>

      <div class="form-actions">
        <div class="button-group">
          <%= link_to( models_path ) do %>
            <button class="button"><i class="icon-arrow-left"></i> Go Back</button>
          <% end %>
          <%= link_to( edit_model_path(@model) ) do %>
            <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>  
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- container --> 
</div> <!--content-->