<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Editing Input</h1>
      </header>
        <a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_runs')" id="show_edit_inputs_runs">[+] View Related Runs</a>
        <br/>
        <div id="edit_inputs_runs" class="hidden notvisible">
          <%= render 'edit_inputs_runs' %>
        </div>
        <hr />
        <a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_variables')" id="show_edit_inputs_variables">[+] View Related Variables</a>
        <br/>
        <div id="edit_inputs_variables" class="hidden notvisible">
          <%= render 'edit_inputs_variables' %>
        </div>
        <hr />

        <%= form_for @input, :html => {:multipart => true} do |f| %>
        <%= f.error_messages %>

      <div class="row">
        <div class="twelve columns alpha">
          <%= f.label :site %><br />
          <%= f.select :site_id, Site.all.collect { |p| [ p.select_default, p.id ] }, {} %>
        </div>
        <div class="four columns omega">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns alpha">
          <%= f.label :parent %><br />
          <%= f.select :parent_id, Input.all.collect { |p| [ p.select_default, p.id ] }, { :include_blank => true } %>
        </div>
      </div>




     
      <div class="row">
        <div class="eight columns alpha">
          <%= f.label :start_date %><br />
          <%= f.datetime_select :start_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
        </div>
        <div class="eight columns omega">
          <%= f.label :end_date %><br />
          <%= f.datetime_select :end_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
        </div>
      </div>
      <div class="row">
        <div class="eight columns alpha">
          <%= f.label :file_id, 'File ID' %><br />
          <%= f.text_field :file_id %>
        </div>
        <div class="eight columns omega">
          <%= f.label :format_id %><br />
          <%= f.select :format_id, Format.all.collect { |p| [p.select_default, p.id ] }, :include_blank => true %>
        </div>
      </div>
        <h2>Associated Files</h2>
        <%= link_to 'New File', new_dbfile_path %>
        <p>
          <%= f.label :dbfile_id %><br />
          <%= select_tag :dbfile_id, options_for_select(['']+DBFile.all.collect { |p| [ p.select_default, p.id ] }) %>
        </p>

          <% unless f.object.files.empty? %>
            <p>Files associated with input</p>
              <% f.object.files.each do |file| %>
            <p>
              <%= link_to_if file,file,dbfile_path(file) %> <%= link_to "[X]",unlink_dbfile_path(file.id) %><br />
            </p>
          <% end %>
        <% end %>

        <div class="row">
          <div class="sixteen columns alpha omega">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 5, :class => "input-full" %>
          </div>
        </div>

        <div class="form-actions"><!--To be tested!!!!! -->
          <div class="button-group">
            <%= link_to( @input ) do %>
              <button class="button">Show</button>
            <% end%>
            <%= link_to( inputs_path ) do %>
              <button class="button">Back</button>
            <% end%>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Update', :class => "button button-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>