<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1 style="text-align:center">Viewing Run</h1>
			</header>
			<dl class="dl-horizontal">

			<dt>Model</dt>
			<dd><%= link_to_if @run.model, @run.model, @run.model %></dd>

			<dt>Site</dt>
  			<dd><%= link_to_if @run.site, @run.site, @run.site %></dd>

  			<dt>Start Time</dt>
  			<dd><%= @run.start_time %></dd>

  			<dt>Finsh Time</dt>
  			<dd><%= @run.finish_time %></dd>

  			<dt>Started at</dt>
  			<dd><%= @run.started_at %></dd>

  			<dt>Finshed at</dt>
  			<dd><%= @run.finished_at %></dd>

  			<dt>Start date</dt>
  			<dd><%= @run.start_date %></dd>

  			<dt>End Date</dt>
  			<dd><%= @run.end_date %></dd>
  			
  			<dt>Outdir</dt>
  			<dd><%= @run.outdir %></dd>

  			<dt>Outprefix</dt>
  			<dd><%= @run.outprefix %></dd>

  			<dt>Setting</dt>
  			<dd><%= @run.setting %></dd>

  			<dt>Parameter List</dt>
  			<dd><%= @run.parameter_list %></dd>

			</dl>

			<%= link_to 'Edit', edit_run_path(@run) %> |
			<%= link_to 'Back', runs_path %>
		</div><!-- InstanceEndEditable -->
	</div>	<!-- container --> 
</div>
